:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
  
  .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
  }

  .form-signup {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
  }
  
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group > input,
  .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-group > label {

    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  /* .form-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-group input::placeholder {
    color: transparent;
  } */
  